body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.main {
  background-color: white;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

textarea {
  width: 100%;
}

.questionBox {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button {
  padding: 8px;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

button:hover {
  filter: brightness(1.05);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #ddd;
  }

  .main {
    background-color: #222;
  }

  textarea {
    width: 100%;
    color: #ddd;
    background-color: #111;
  }
}
